* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    background-color: #ffffff;
    font-family: inter, sans-serif;
    overflow: hidden;

}
#blue-background{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30%;
    background-color: #1A8CF7;
    z-index: -99;
    display: none;

}

#white-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    box-shadow: 0 0 5px #000000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1rem;
    min-width: 30%;

}

#contact-form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 20px;
    width: 80%;

}

#contact-form h1 {
    color: #8d8d8d;
    margin-bottom: 20px;
}


#contact-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    outline: none;
    font-size: 0.9rem;
}

#contact-form input:focus {
    border-color: #1A8CF7 !important;
}

#contact-form textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

#contact-form textarea:focus {
    border-color: #1A8CF7 !important;
}

#contact-form .btn {
    width: 5rem;
    background-color: #1A8CF7;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
}
#contact-form .btn:hover {
    background-color: #3f9bf1;;

}

/* ----------------------------------------------------- */


#blue-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-color: #1A8CF7;
    border-radius: 5px;
    padding: 20px;
    color: #ffffff;
    height: 65%;
    min-width: 20%;

}

#blue-container h2 {
    color: #ffffff;
    font-size: 1.3rem;
    margin-bottom: 50px;
    margin-left: 20px;
}

.info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 20px;
}

.info-item .location,
.phone,
.telegram,
.earth {
    width: 25px;
    margin-top: 10px;
    margin-right: 10px;
}

/* resposive style */

@media screen and (max-width: 1048px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #blue-background{
        display:block;
        
    
    }

    #white-container {
        width: 60%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;


    }

    #contact-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        width: 80%;

    }

    #contact-form input {
        margin-bottom: 20px;

    }

    #contact-form textarea {
        margin-bottom: 20px;

    }

    #contact-form .btn {
        width: 104%;
        border: 1px solid #8d8d8d;

    }


    #blue-container {
        display: none;
    }

}

@media screen and (max-width: 500px) {

    #blue-container {
        display: none;

    }
    #contact-form h1 {
        font-size: 1.6rem;
    }

}